[loggers]
keys=root, luxchatbot

[handlers]
keys=consoleHandler,fileHandler

[formatters]
keys=fileFormatter,consoleFormatter

[logger_root]
level=ERROR
handlers=consoleHandler

[logger_luxchatbot]
level=INFO
handlers=consoleHandler
qualname=luxchatbot
propagate=0

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)

[handler_fileHandler]
class=FileHandler
formatter=fileFormatter
args=('logfile.log',)

[formatter_fileFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=%d/%m/%Y %H:%M:%S

[formatter_consoleFormatter]
format=%(asctime)s - %(name)s - %(levelname)s : %(message)s
datefmt=%d/%m/%Y %H:%M:%S
